<h1>Add a new photo</h1>


<form action="http://localhost:3000/create_photo">

  <label for="url">
    Image URL
  </label>
  <input type="text" id="url" name="the_source">

  <label for="caption">
    The Caption
  </label>
  <input type="text" id="caption" name="the_caption">
<button>Create Photo</button>

</form>
